/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700
*/

/* ================= GOOGLE FONTS ================= */
.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}
.lexend-deca-font {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

/* ====================== Contains ENTIRE WEB PAGE ====================== */                                 
#main-page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index:1;
}

/* ================= Contains SIDE NAVBAR ================= */     
#sidenav, #content{
  position:relative;
}
#sidenav{
  display:flex;
  flex-direction:column;
  position:fixed;
  top:0;
  left:0;
  background-color:#060606;
  width:10%;
  min-height:100vh;
  transition: width 0.5s; /* Transition effect */
  z-index:1;
}

#sidenav:hover {
  width: 20%; /* Width when hovered */
}
#sidenav .nav-item{
  text-align:center;
  width:100%;
  margin-bottom:15%;
}
.nav-item a{
  height:4em;
}
#sidenav .nav-link{
  color:white;
  font-size: 125%;
  font-family: "Lexend Deca", sans-serif;
}
#sidenav .nav-link:hover{
  background-color:#1c1c1c;
}
#projects-title{
  font-size: 100%;
  text-align:center;
  padding-bottom:5%;

  font-family: "Roboto Mono", monospace;
  color:white;
  border-bottom: 1px solid white;
}

/* ==== Sidenav Footer ====  */  
#github-link{
  position: absolute;
  font-size:100%;
  bottom:2.5%;
  left:10%;
}
#github-link i{
  color:white;
  padding-right:0.75em;
}
#sidenav button{
  background-color:transparent;
  border-color:transparent;
}

/* ==== Link Borders ====  */  
#sidenav-home-link{
  height:15%;
}
#sidenav-cpp-link{
  border:4px solid #4885ff;
  border-radius:7.5%;
}
#sidenav-java-link{
  border:4px solid orange;
  border-radius:7.5%;
}
#sidenav-web-link{
  border:4px solid #31f974;
  border-radius:7.5%;
}
#sidenav-mobile-link{
  border:4px solid red;
  border-radius:7.5%;
}

/* ================= Contains CONTENT ================= */     
#content{
  background-color:#202020;
  margin-left: 10%; /* Initial margin-left */
  transition: margin-left 0.5s, width 0.5s; /* Transition effect */
  width: 90%; /* Initial width */
  height:100%;
}
#sidenav:hover ~ #content {
  margin-left: 20%; /* margin-left when sidenav is hovered */
  width: 80%; /* width when sidenav is hovered */
}

/* ============ Contains INTRO ============ */ 
#main-desc{
  position:relative;
  margin:auto;
  margin-top:2.5%;
  height:10em;
  width: 80%;
  color:white;
  text-align:center;
  font-family: "Roboto Mono", monospace;
  padding-bottom:12.5%;
}
#main-desc h1{
  padding-top:3%;
}
#main-desc p{
  position:relative;
  font-family: "Lexend Deca", sans-serif;
  font-size:120%;
  padding-top:2.5%;
  margin:auto;
  width:80%;
  color:#d2d2d2;
}

/* ============ Contains FEATURED PROJECTS ============ */ 
#featured-title{
  position:relative;
  text-align:center;
  margin:auto;
  color:white;
  height:10%;
  margin-top:5%;
  font-family: "Roboto Mono", monospace;
  font-size:250%;
}
.my-3{
  height:40em;
  display:flex;
}
#img-box{
  position: relative;
  background-color:black;
  margin-top: auto;
  margin-bottom:auto;
  left: 0;
  right: 0;
  height: 80%; 
  width:35%;
  border-radius:5%;
}
#img-box img{
  width:100%;
  height:100%;    
  max-height:100%;
  max-width:100%;
  object-fit:contain;
}
#post-info{
  position:relative;
  margin-top: auto;
  margin-bottom:auto;
  height:75%;
  width:60%;
  left:2%;
  color:white;
}
#post-info p{
  position:relative;
  text-align:left;
  top:15%;
}
#post-type{
  position:relative;
  left:90%;
  width:10%;
  height:15%;
  border:2px solid orange;
  border-radius:5%;
}
#post-type p{
  text-align:center;
  font-size:1.5em;
  color:orange;
}