/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700
*/
.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}
.lexend-deca-font {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

#title-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: black;
  transition: opacity 1s ease-out; /* Add this line */
  opacity: 1; /* Add this line */
  z-index:2;
}
.title-content{
  font-family: "Roboto Mono", monospace;
  margin:auto;
  width:50%;
  text-align:center;
  margin-top:10%;
  color:white;
  font-size:200%;
}
#title-hello, #title-name, #title-bio, #title-btn{
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  opacity:0;
}
#title-hello{
  font-size:500%;
  font-stretch: extra-expanded;
  animation-delay: 0.5s;
}
#title-name{
  animation-delay: 1.5s;
}
#title-bio{
  font-size:75%;
  animation-delay: 2.5s;
}
#title-btn{
  margin-top:10%;
  font-size:75%;
  font-stretch: extra-condensed;
  background-color:black;
  color:white;
  animation-delay: 2.5s;
}
#title-btn:hover{
  box-shadow: 0 0 15px white;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.orbs_bg{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.orbs{
  position: relative;
  display: flex;
  z-index:0;
}
.orbs span{
  position: relative;
  width: 30px;
  height: 30px;
  background: #ecc721;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #f9d843, 0 0 50px #fbe47d,0 0 100px #fbe47d;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.orbs span:nth-child(even){
  background: #2769ff;
  box-shadow: 0 0 0 10px #5988f2, 0 0 50px #8aaeff,0 0 100px #8aaeff;
}
@keyframes animate{
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
}
#main-page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index:1;
}
#sidenav, #content{
  position:relative;
}
#sidenav{
  position:fixed;
  top:0;
  left:0;
  background-color:#1639af;
  min-height:100vh
}
#sidenav .nav-item{
  text-align:center;
  width:100%;
  padding:10%;
}
#sidenav .nav-link{
  color:white;
  font-size: 125%;
  font-family: "Lexend Deca", sans-serif;
  border: 2px solid white;
  border-radius:5%;
}
#sidenav .nav-link:hover{
  background-color:#102d8c;
}
#projects-title{
  font-size: 100%;
  text-align:center;
  padding-bottom:5%;

  font-family: "Roboto Mono", monospace;
  color:white;
  border-bottom: 1px solid white;
}
#github-link{
  position: absolute;
  font-size:100%;
  bottom:2.5%;
  left:10%;
}
#github-link i{
  color:white;
  padding-right:0.75em;
}
button{
  background-color:transparent;
  border-color:transparent;
}

#content{
  background-color:#060606;
  margin-left:auto;
  height:100%;
}
#main-desc{
  position:relative;
  margin:auto;
  margin-top:2.5%;
  height:10em;
  width: 80%;
  color:white;
  text-align:center;
  font-family: "Roboto Mono", monospace;
  padding-bottom:12.5%;
}
#main-desc h1{
  padding-top:3%;
}
#main-desc p{
  position:relative;
  font-family: "Lexend Deca", sans-serif;
  font-size:120%;
  padding-top:2.5%;
  margin:auto;
  width:80%;
  color:#d2d2d2;
}
#featured-title{
  position:relative;
  text-align:center;
  margin:auto;
  color:white;
  height:10%;
  margin-top:5%;
  font-family: "Roboto Mono", monospace;
  font-size:250%;
}
.my-3{
  height:40em;
  display:flex;
}
#img-box{
  position: relative;
  background-color:black;
  margin-top: auto;
  margin-bottom:auto;
  left: 0;
  right: 0;
  height: 80%; 
  width:35%;
  border-radius:5%;
}
#img-box img{
  width:100%;
  height:100%;    
  max-height:100%;
  max-width:100%;
  object-fit:contain;
}
#post-info{
  position:relative;
  margin-top: auto;
  margin-bottom:auto;
  height:75%;
  width:60%;
  left:2%;
  color:white;
}
#post-info p{
  position:relative;
  text-align:left;
  top:15%;
}
#post-type{
  position:relative;
  left:90%;
  width:10%;
  height:15%;
  border:2px solid orange;
  border-radius:5%;
}
#post-type p{
  text-align:center;
  font-size:1.5em;
  color:orange;
}